<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  
  <!--unity程序集-->
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>

  <appSettings>
    <!--服务调用模式：单机版-Local/网络版-WCF -->
    <add key="ServiceMode" value="Local" />
    <!--数据库选择：MySQL/SQL Server -->
    <add key="Connection" value="MySQL" />
    
    <!--通信方式：COM-串口/网口 -->
    <add key="CommunicationMode"     value="COM"/>
    <add key="CommunicationProtocal" value="ModbusRTU"/>
    <add key="UserUnit" value="南京理工大学自动化学院"/>
  </appSettings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <entityFramework  codeConfigurationType="MySql.Data.Entity.MySqlEFConfiguration, MySql.Data.Entity.EF6">
  <!-- entityFramework -->
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlCeConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="System.Data.SqlServerCe.4.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </providers>
  </entityFramework>
  
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  
  <connectionStrings>
    <add name="SQLServer" connectionString="data source=.\SA;initial catalog=HZKdata;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="MySQL" connectionString="Data Source=localhost;port=3306;Initial Catalog=HZKdata;user id=root;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
 
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
   <container>
     <types>
       <!-- Type mapping with no lifetime — defaults to "transient" 逗号左边：类型的完整名，逗号右边：程序集名-->  
       <type type="ZY.EntityFrameWork.Caller.Facade.IArvOpService,ZY.EntityFrameWork" mapTo="ZY.EntityFrameWork.Caller.WinformCaller.WinArvOpService,ZY.EntityFrameWork" name="Local" />
       <type type="ZY.EntityFrameWork.Caller.Facade.IAuthorityService,ZY.EntityFrameWork" mapTo="ZY.EntityFrameWork.Caller.WinformCaller.WinAuthorityService,ZY.EntityFrameWork" name="Local" />
       <type type="ZY.EntityFrameWork.Caller.Facade.ISystemConfigService,ZY.EntityFrameWork" mapTo="ZY.EntityFrameWork.Caller.WinformCaller.WinSystemConfigService,ZY.EntityFrameWork" name="Local" />
       <!--type type="ZY.EntityFrameWork.Caller.Facade.IAuthorityService,ZY.EntityFrameWork" mapTo="ZY.EntityFrameWork.Caller.WcfCaller.WcfAuthorityService,ZY.EntityFrameWork" name="Wcf" -->
       <!--type type="ZY.EntityFrameWork.Caller.Facade.IArvOpService,ZY.EntityFrameWork" mapTo="ZY.EntityFrameWork.Caller.WcfCaller.WcfArvOpService,ZY.EntityFrameWork" name="Wcf" --> 
       <!--type type="ZY.EntityFrameWork.Caller.Facade.IAuthorityService,ZY.EntityFrameWork" mapTo="ZY.EntityFrameWork.Caller.WcfCaller.WcfAuthorityService,ZY.EntityFrameWork" name="Wcf" -->
    </types>
    </container>  
  </unity>

  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IArvOPService" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary/ArvOPService/" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IArvOPService" contract="ZY.EntityFrameWork.WcfSvcLib.Interface.IWcfArvOpService" name="WcfArvOpService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>